/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! For example - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

 .MMM-AfterShip .header {
  color: #62FF00;             /* Color the title text. Default is white. */
}

.MMM-AfterShip .ID {
  color: #FFFFFF;             /* Color the ID #. Default is white. */
  font-size: 16px;             /* Adjust to your liking, line by line */
/*  display: none; */         /* Uncomment if you don't want ID */
}

.MMM-AfterShip .lastUpdate {
  color: #FFFFFF;             /* Color the Last update. Default is white. */
  font-size: 16px;             /* Adjust to your liking, line by line */
  /*  display: none; */         /* Uncomment if you don't want lastUpdate */
}

.MMM-AfterShip .tracking_number {
  color: #FFFFFF;             /* Color the tracking #. Default is white. */
  font-size: 16px;             /* Adjust to your liking, line by line */
  /*  display: none; */         /* Uncomment if you don't want tracking_number */
}

.MMM-AfterShip .courier {
  color: #FFFFFF;             /* Color the courier. Default is white. */
  font-size: 16px;             /* Adjust to your liking, line by line */
  /*  display: none; */         /* Uncomment if you don't want courier */
}

.MMM-AfterShip .expected_delivery {
  color: #FFFFFF;             /* Color the expected_delivery. Default is white. */
  font-size: 16px;             /* Adjust to your liking, line by line */
  /*  display: none; */         /* Uncomment if you don't want expected_delivery */
}

.MMM-AfterShip .shipment_type {
  color: #FFFFFF;             /* Color the shipment_type. Default is white. */
  font-size: 16px;             /* Adjust to your liking, line by line */
  /*  display: none; */         /* Uncomment if you don't want shipment_type */
}

.MMM-AfterShip .status {
  color: #FFFFFF;             /* Color the status. Default is white. */
  font-size: 16px;             /* Adjust to your liking, line by line */
  /*  display: none; */         /* Uncomment if you don't want status */
}

.MMM-AfterShip .Title {
  color: #FFFFFF;             /* Color the Title. Default is white. */
  font-size: 16px;             /* Adjust to your liking, line by line */
  /*  display: none; */         /* Uncomment if you don't want Title */
}

.MMM-AfterShip .location {
  color: #62FF00;             /* Color the location. Default is white. */
  font-size: 18px;             /* Adjust to your liking, line by line */
  /*  display: none; */         /* Uncomment if you don't want location */
}

.MMM-AfterShip .checkpoint_time {
  color: #62FF00;             /* Color the checkpoint_time. Default is white. */
  font-size: 18px;             /* Adjust to your liking, line by line */
  /*  display: none; */         /* Uncomment if you don't want checkpoint_time */
}

.MMM-AfterShip .message {
  color: #62FF00;             /* Color the message. Default is white. */
  font-size: 18px;             /* Adjust to your liking, line by line */
  /*  display: none; */         /* Uncomment if you don't want message */
}