/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! For example - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

 .MMM-AfterShip .header {
  color: #62FF00;             /* Color the title text. Default is white. */
}

.MMM-AfterShip .ID {
  color: #FFFFFF;             /* Color the ID #. Default is white. */
/*  display: none; */         /* Uncomment if you don't want lastUpdate */
}

.MMM-AfterShip .lastUpdate {
  color: #FFFFFF;             /* Color the Last update. Default is white. */
}

.MMM-AfterShip .tracking_number {
  color: #FFFFFF;             /* Color the tracking #. Default is white. */
}

.MMM-AfterShip .courier {
  color: #FFFFFF;             /* Color the courier. Default is white. */
}

.MMM-AfterShip .expected_delivery {
  color: #FFFFFF;             /* Color the expected_delivery. Default is white. */
}

.MMM-AfterShip .shipment_type {
  color: #FFFFFF;             /* Color the shipment_type. Default is white. */
}

.MMM-AfterShip .status {
  color: #FFFFFF;             /* Color the status. Default is white. */
}

.MMM-AfterShip .status {
  color: #FFFFFF;             /* Color the status. Default is white. */
}

.MMM-AfterShip .Title {
  color: #FFFFFF;             /* Color the Title. Default is white. */
}